.equal-height {
  height: 500px;
  object-fit: cover;
}
.box-shadow{
    -webkit-box-shadow: 0px 0px 22px 0px rgba(138,126,138,1);
    -moz-box-shadow: 0px 0px 22px 0px rgba(138,126,138,1);
    box-shadow: 0px 0px 22px 0px rgba(138,126,138,1);
}
.box{
    background: #fff;
    padding: 20px;
    height: 27.5em;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(138,126,138,1);
    -moz-box-shadow: 0px 0px 22px 0px rgba(138,126,138,1);
    box-shadow: 0px 0px 22px 0px rgba(138,126,138,1);
}
.covid-preventions {
  list-style-type: none;
}
.covid-preventions li {
  font-family: 'Combo', cursive;
} 

/* media query for mobile devices */
@media only screen and (max-width:768px){
  .box{
    margin-top:30px;
  }
  .three-box {
    padding-top: 0px !important;
  }
}